body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    color: darkslategrey;
    background-color: white;
}

main {
    float:left;
}

header {
    box-sizing: border-box;
    float:left;
}

section{
    height: 150px;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

#statistics {
    position:absolute;
    margin-left:1100px;
    margin-top:150px;
    padding:0;
    float:left;
}